<div class="footer">
        <div class="container">
            <div class="footer-content">
               
                <div class="footer-links">
                    <ul>
                        <small style="font-weight: bolder;" class="gradient-text">Designed and developed by Suhail TH</small>
                      </ul>
                      
                      
                    </div>
                    <small style="color: rgb(137, 143, 65);">All copy right reserved</small>
            </div>
        </div>
    </div>
