<div>
    <div class="top">
      <div class="container" style="box-shadow: 0px 1px 5px black; margin-top: 100px; height: 200px; background-color: white; border-top: 5px green; border-radius: 10px; " >
        <div style=" font-family: 'Goldman', sans-serif; font-size: 15px;  padding-top: 50px;" class="d-flex justify-content-center  " >Your response as added successfully</div>
        <div style=" font-family: 'Goldman', sans-serif; font-size: 15px; " class="d-flex justify-content-center  ">
            go back to form list
        </div >
        <div style=" font-family: 'Goldman', sans-serif; font-size: 15px; " class="d-flex justify-content-center  "><button mat-raised-button color="primary" (click)="submit()" >Back</button></div>
      </div>
    </div>
  </div>
